<!DOCTYPE html>
<html lang="en">
<head>

	<title>Channels App</title>

	<meta charset="utf-8">
	<meta name="description" content="Just a simple Channels App built with AngularJS.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="favicon.ico">

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<link rel="stylesheet" href="styles/application.css">

</head>
<body ng-app="App">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Channels App</a>
			</div>
		</div>
	</nav>

	<header class="jumbotron" role="banner">
		<div class="container">
			<h1>Channels App</h1>
			<p>Just a simple Channels App built with AngularJS.</p>
		</div>
	</header>

	<main class="container" role="main" ng-controller="ChannelCtrl">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title">Channels:</h3>
			</div>

			<input class="form-control" type="search" placeholder="Filter channels..." ng-model="search" />

			<table class="table table-striped">
				<thead>
					<tr>
						<td></td>
						<td>Your Channels</td>
						<td>Send-me Updates</td>
						<td>Show on Feed</td>
						<td>Inscriptions</td>
					</tr>
				</thead>

				<tbody>
					<tr class="repeater-animate" ng-repeat="channel in channels | filter:search">

						<td>
							<div class="subscription-item">
								<input type="checkbox" ng-model="email.select" />
							</div>
						</td>

						<td>
							<a ng-href="{{ channel.link }}" class="channel-prop channel-figure">
								<img ng-src="{{ channel.image }}" alt="" />
							</a>
							<span class="channel-prop channel-name">
								<a ng-href="{{ channel.link }}" title="">{{ channel.title }}</a>
							</span>
						</td>

						<td>
							<div class="subscription-item">
								<input type="checkbox" />
							</div>
						</td>

						<td>
							<div class="subscription-item">
								<input type="checkbox" />
							</div>
						</td>

						<td>
							<div class="btn-cancel">
								<button class="btn btn-danger" ng-model="channel.canceled" ng-click="deleteItem($index)">Cancel Inscription</button>
							</div>
						</td>

					</tr>
				</tbody>
			</table>

		</div>
	</main>

	<footer class="footer" role="contentinfo">
		<div class="container">
			<hr />
			<img class="ng-logo" src="images/ng-logo.png" alt="AngularJS Logo" />
			<p>Created by <a href="#" title="">Rafael Lima</a></p>
		</div>
	</footer>

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>

	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/channelController.js"></script>
	<script src="scripts/services/channelFactory.js"></script>

</body>
</html>