body {
	font-family: 'Raleway', sans-serif;
}

nav[role="navigation"] {
	background: rgba(10,10,10,.7);
	color: pink;
	border: none;
	box-shadow: 0 0 1pc 6px rgba(180,180,180,.6);
}

header[role="banner"] {
	padding-top: 88px;
}

.channel-prop {
	display: inline-block;
	vertical-align: middle;
}

.channel-figure {
	width: 40px;
	height: 40px;
	background: #eee;
}

.channel-name {
	padding: 0 120px 0 28px;
}

.subscription-item {
	margin: 10px 0 0 24px;
}

.btn-cancel {
	margin: 3px -64px 0 0;
}

.footer {
	padding-bottom: 18px;
	text-align: center;
}

.ng-logo {
	width: 14%;
	padding: 20px;
}

.repeater-animate.ng-enter,
.repeater-animate.ng-leave {
	 -webkit-transition: 625ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 625ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 625ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 625ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 625ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
}

.repeater-animate.ng-enter,
.repeater-animate.ng-leave.ng-leave-active {
	opacity: 0;
  width: 0px;
  height: 0px;
}

.repeater-animate.ng-leave,
.repeater-animate.ng-enter.ng-enter-active {
	opacity: 1;
  width: 150px;
  height: 30px;
}